body {
    margin: 0;
}

.header {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 0;
    margin-right: 0;
    background-color: blue;
    padding: 5vh;
    color: white;
    text-align: center;
    font-size:75px;
}